engine-strict=true
registry=https://repo-hkg.agodadev.io/api/npm/agoda-npm/
@ads:registry=https://repo-hkg.agodadev.io/api/npm/agoda-npm-local
@agoda:registry=https://repo-hkg.agodadev.io/api/npm/agoda-npm-local
@drone-js:registry=https://repo-hkg.agodadev.io/api/npm/agoda-npm-local
@drone-js-ext:registry=https://repo-hkg.agodadev.io/api/npm/agoda-npm-local
@kite-js:registry=https://repo-hkg.agodadev.io/api/npm/agoda-npm-local
@cart-js:registry=https://repo-hkg.agodadev.io/api/npm/agoda-npm-local
@trips-js:registry=https://repo-hkg.agodadev.io/api/npm/agoda-npm-local
@ul:registry=https://repo-hkg.agodadev.io/api/npm/agoda-npm-local
@behavior-management:registry=https://repo-hkg.agodadev.io/api/npm/agoda-npm-local
@accom:registry=https://repo-hkg.agodadev.io/api/npm/agoda-npm-local
@accom-js:registry=https://repo-hkg.agodadev.io/api/npm/agoda-npm-local
@ewl:registry=https://repo-hkg.agodadev.io/api/npm/agoda-npm-local
@cusco-toolkit:registry=https://repo-hkg.agodadev.io/api/npm/agoda-npm-local
@sdui:registry=https://repo-hkg.agodadev.io/api/npm/agoda-npm-local
@stryker-mutator:registry=https://repo-hkg.agodadev.io/api/npm/agoda-npm-local
@tooling:registry=https://repo-hkg.agodadev.io/api/npm/agoda-npm-local
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
